#tabsGestiones {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: small;
    padding: 0px;
    background: none;
    border-width: 0px;
}

#tabsGestiones .ui-widget-header {
    border: none;
}

#tabsGestiones .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabsGestiones .ui-tabs-panel {
    background: #fff;
}

#divDatosUniversitario {
    overflow: auto;
}

#tableDatosUniversitario tbody tr:nth-child(odd) {
    background-color: #ecf0f5;
}

#tableDatosUniversitario {
    background-color: #fff;
    border: 1px solid #fff;
}

#divLibretaUniversitario {
    overflow: auto;
}

th[colspan="3"],
th[rowspan="2"] {
    text-align: center;
    vertical-align: middle;
}

#tableLibretaUniversitario th {
    text-align: center;
    vertical-align: middle;
}

#tableLibretaUniversitario td {
    vertical-align: middle;
}

#tableLibretaUniversitario tbody tr:nth-child(odd) {
    background-color: #fff;
}

#tableLibretaUniversitario {
    background-color: #ecf0f5;
    border: 1px solid #fff;
    text-align: center;
}

#tableLibretaUniversitario td:nth-child(1) {
    text-align: left;
}

#tableLibretaUniversitario td:nth-child(2) {
    text-align: left;
}

#nota {
    color: red;
    font-weight: 600;
}

#divCodigoSea {
    overflow: auto;
}

#tableCodigoSea tbody tr:nth-child(odd) {
    background-color: #fff;
}

#tableCodigoSea {
    background-color: #ecf0f5;
    text-align: center;
    border: 1px solid #fff;
}

#tableCodigoSea thead th {
    text-align: center;
}

h4 {
    text-align: center;
}
